QLabel#title {
    font-weight: bold;
    max-height: 20px;
    min-height: 20px;
    font-size: 14px
}
QMainWindow {
    background-color: #212121
}
QGroupBox {
    background-color: #2c2c2c;
    border: 1px solid #424242;
    border-radius: 10px;
}
QPushButton#submitBtn {
    min-height: 26px;
    max-height: 26px
}
QPushButton {
    background-color: #373737;
    border: none;
    border-radius: 6px;
    font-size: 14px
}
QPushButton:hover {
    background-color: #484848
}
QPushButton:pressed {
    background-color: #525252
}
QRadioButton {
    padding: 10px;
    font-size: 14px
}
QFrame#line{
    background-color: #424242
}
QLabel#entry {
    padding: 10px;
    font-size: 14px
}