/* The stylesheet for a light mode theme, similar to orchis light on Linux Mint */

/* General stuff for all pages with these elements */
QMainWindow {
    background-color: #f2f2f2;
}

QMenuBar {
    background: #ffffff;
    border-bottom: 1px solid #d0d0d0;
    color: #444444;
}

QMenuBar::item {
    background: transparent;
    border-radius: 4px;
    padding: 3px;
    margin: 0px;
    margin-bottom: 2px;
}

QMenuBar::item:pressed {
    background: #ededed;
    color: #212121;
}

QMenu {
    background-color: #ffffff;
    padding: 4px;
    border-radius: 10px;
    color: #212121;
}

QMenu::item {
    background: #ffffff;
    padding: 4px;
    margin-top: 1px;
}

QMenu::item:selected {
    background: #dddddd;
    border-radius: 5px;
}

QMenu::separator {
    background-color: #d0d0d0;
    height: 1px;
}

QLabel#title {
    font-weight: bold;
    max-height: 20px;
    min-height: 20px;
    font-size: 14px;
    margin-left: 40px;
    margin-right: 40px;
    color: #212121;
}

QScrollArea {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px
}

QScrollArea QWidget {
    background-color: transparent;
}

QScrollBar:vertical {
    border: none;
    background: transparent;
    width: 8px;
    margin: 0px;
}

QScrollBar:vertical:hover {
    background: #fefefe;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

QScrollBar::handle:vertical {
    background: #bcbcbc;
    min-height: 20px;
    border-radius: 4px;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0px;
}

QScrollBar::handle:vertical:hover {
    background-color: #9d9d9d;
}

QScrollBar::handle:vertical:pressed {
    background-color: #666666;
}

QGroupBox {
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px
}

QRadioButton {
    padding: 8px;
    color: #212121;
    font-size: 14px;
    border-bottom: 1px solid #e0e0e0;
}

QRadioButton[isFirst="true"] {
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

QRadioButton[isLast="true"] {
    border-bottom: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
}

QRadioButton[isFirstAndLast="true"] {
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

QRadioButton::indicator {
    width: 18px;
    height: 18px;
    border-radius: 10px; 
    border: 2px solid #969696; 
    background-color: transparent;
}

QRadioButton::indicator:unchecked:hover {
    border: 2px solid #3281ea;
}

QRadioButton::indicator:checked {
    border: 2px solid #3281ea; 
    background-color: qradialgradient(
        cx: 0.5, cy: 0.5, 
        fx: 0.5, fy: 0.5, 
        radius: 1.0, 
        stop: 0.2 #3281ea, 
        stop: 0.3 transparent
    );
}

QRadioButton::indicator:checked:hover {
    border-color: #468eed; 
    background-color: qradialgradient(
        cx: 0.5, cy: 0.5, 
        fx: 0.5, fy: 0.5, 
        radius: 1.0, 
        stop: 0.20 #468eed, 
        stop: 0.30 transparent
    );
}

QRadioButton:hover {
    background-color: #ededed;
}

QLineEdit {
    background-color: #F2F2F2;
    color: #212121;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    min-height: 24px;
    max-height: 24px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px
}

QLineEdit:hover {
    border: 2px solid #D2D2D2;
}

QLineEdit:focus {
    border: 2px solid #468eed;
}

QComboBox {
    background-color: #E5E5E5;
    color: #212121;
    border: 2px solid #E5E5E5;
    border-radius: 10px;
    font-size: 14px;
    padding: 4px;
    margin-right: 6px;
    margin-left: 10px;
    combobox-popup: 0;
}

QComboBox:hover {
    border: 2px solid #D2D2D2;
    font-size: 14px;
}

QComboBox:on {
    border: 2px solid #468eed;
}

QComboBox QAbstractItemView {
    background-color: #ffffff;
    padding: 4px;
    border-radius: 8px;
    outline: none;
}

QComboBox QAbstractItemView::item {
    background-color: transparent;
    padding: 4px;
    margin-top: 1px;
    color: #212121;
}

QComboBox QAbstractItemView::item:selected {
    background-color: #DEDEDE;
    border-radius: 5px;
}

QMessageBox {
    background-color: #ffffff;
    color: #212121;
    font-size: 14px;
}

QMessageBox QLabel {
    background-color: #ffffff;
    color: #212121;
    font-size: 14px;
}

QMessageBox QPushButton {
    min-height: 26px;
    max-height: 26px;
    margin-left: 0px;
    margin-right: 0px;
    color: #212121;
    background-color: #F5F5F5;
    border: none;
    border-radius: 6px;
    font-size: 14px;
}

QMessageBox QPushButton:hover {
    background-color: #EEEEEE
}

QMessageBox QPushButton:pressed {
    background-color: #E0E0E0
}

QPushButton {
    min-height: 26px;
    max-height: 26px;
    margin-left: 40px;
    margin-right: 40px;
    color: #212121;
    background-color: #E5E5E5;
    border: none;
    border-radius: 6px;
    font-size: 14px
}

QPushButton:hover {
    background-color: #DEDEDE
}

QPushButton:pressed {
    background-color: #D0D0D0
}

/* Everything that's only for page one */
QLabel#page1NoFileMsg {
    color: #212121;
    font-size: 14px;
    padding: 4px;
}

/* Everything that's only for page two */
#page2InnerBox {
    margin: 0px;
    border-bottom: 1px solid #f0f0f0;
}

#page2InnerBox[isFirst="true"] {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#page2InnerBox[isLast="true"] {
    border-bottom: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#page2InnerBox:hover {
    background-color: #ededed;
}

QLabel#entry {
    padding: 10px;
    font-size: 14px;
    font: bold;
    color: #212121;
}

QLabel#infoDescription {
    padding: 8px;
    font-size: 12px;
    color: #212121;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
}

QRadioButton#categorySel {
    border: none;
}

QPushButton#rmvCategory {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}

/* Everything that's only for page three */
QGroupBox#page3Container {
    font-size: 14px;
    color: #33ff33;
    padding: 4px;
    background-color: #ffffff;
}

QLabel#terminalText {
    font-size: 14px;
    color: #33ff33;
    padding: 4px;
}