/* The stylesheet for a dark mode theme*/

/* General stuff for all pages with these elements */
QMainWindow {
    background-color: #2b2e32;
}

QMenuBar {
    background-color: #32363a;
    border-bottom: 1px solid #484d52;
    color: #d4d6d9;
}

QMenuBar::item {
    background-color: transparent;
    border-radius: 4px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 0px;
    margin-bottom: 2px;
}

QMenuBar::item:pressed {
    background-color: rgba(255, 255, 255, 0.08);
    color: #d4d6d9
}

QMenu {
    background-color: #32363a;
    padding: 4px;
    border-radius: 10px;
    color: #d4d6d9;
}

QMenu QMenu {
    margin: 8px;
}

QMenu::item {
    background-color: #32363a;
    padding: 4px;
    margin-top: 1px;
}

QMenu::item:selected {
    background-color: #42464a;
    border-radius: 5px;
}

QMenu::separator {
    background-color: #585d62;
    height: 1px;
}

QTabWidget {
    background-color: #2b2e32;
}

QTabWidget::pane {
    background-color: #32363a;
    border: 1px solid #484d52;
    border-radius: 6px;
    border-top-left-radius: 0px;
}

QTabBar::tab {
    background-color: #2f3336;
    color: #888e95;
    padding: 6px 16px;
    border-bottom: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

QTabBar::tab:selected {
    background-color: #32363a;
    color: #d4d6d9;
    border-color: #484d52;
    border-bottom: 2px solid #3281ea;
}

QTabBar::tab:hover:!selected {
    background-color: #3f4346;
    color: #aab0b6;
    border-bottom-color: #333a3d;
}

QTabBar {
    background-color: #2b2e32;
}

QLabel#title {
    font-weight: bold;
    max-height: 20px;
    min-height: 20px;
    font-size: 14px;
    color: #d4d6d9;
}

QScrollArea {
    background-color: #32363a;
    border: 1px solid #484d52;
    border-radius: 10px;
}

QScrollArea QWidget {
    background-color: transparent;
}

QScrollBar:vertical {
    border: none;
    background-color: #2b2e32;
    width: 8px;
    margin: 0px;
}

QScrollBar:vertical:hover {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

QScrollBar::handle:vertical {
    background-color: #545a60;
    min-height: 20px;
    border-radius: 4px;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0px;
}

QScrollBar::handle:vertical:hover {
    background-color: #747a80;
}

QScrollBar::handle:vertical:pressed {
    background-color: #949aa0;
}

QGroupBox {
    background-color: #32363a;
    border: 1px solid #484d52;
    border-radius: 10px;
}

QRadioButton {
    padding: 8px;
    color: #d4d6d9;
    font-size: 14px;
    border-bottom: 1px solid #484d52
}

QRadioButton[isFirst="true"] {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

QRadioButton[isLast="true"] {
    border-bottom: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

QRadioButton[isFirstScroll="true"] {
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

QRadioButton[isLastScroll="true"] {
    border-bottom: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
}

QRadioButton[isFirstAndLast="true"] {
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

QRadioButton::indicator {
    width: 18px;
    height: 18px;
    border-radius: 10px; 
    border: 2px solid #666666; 
    background-color: transparent;
}

QRadioButton::indicator:unchecked:hover {
    border: 2px solid #3281ea;
}

QRadioButton::indicator:checked {
    border: 2px solid #3281ea; 
    background-color: qradialgradient(
        cx: 0.5, cy: 0.5, 
        fx: 0.5, fy: 0.5, 
        radius: 1.0, 
        stop: 0.2 #3281ea, 
        stop: 0.3 transparent
    );
}

QRadioButton::indicator:checked:hover {
    border-color: #468eed; 
    background-color: qradialgradient(
        cx: 0.5, cy: 0.5, 
        fx: 0.5, fy: 0.5, 
        radius: 1.0, 
        stop: 0.20 #468eed, 
        stop: 0.30 transparent
    );
}

QRadioButton:hover {
    background-color: #4e5256;
}

QLineEdit {
    background-color: #282b2f;
    color: #d4d6d9;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    min-height: 24px;
    max-height: 24px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px
}

QLineEdit:hover {
    border: 2px solid #636970;
}

QLineEdit:focus {
    border: 2px solid #468eed;
}

QComboBox {
    background-color: #32363a;
    color: #d4d6d9;
    border: 1.5px solid #32363a;
    border-radius: 8px;
    padding: 0px;
    max-width: 200px;
    height: 24px;
    padding-left: 4px;
}

QComboBox:hover {
    border: 1.5px solid #484d52;
}

QComboBox:on {
    border: 1.5px solid #468eed;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: right center;
    width: 24px;
    border: none;
}

QComboBox::down-arrow {
    image: url(assets/icons/darkThemes/arrowDown.svg);
    width: 12px;
    height: 12px;
}

QComboBox QAbstractItemView {
    background-color: #32363a;
    color: #d4d6d9;
    border: 1.5px solid #484d52;
    border-radius: 8px;
    selection-background-color: #484d52;
    selection-color: #d4d6d9;
    outline: none;
    padding: 2px;
}

QComboBox QAbstractItemView::item {
    border-radius: 8px;
    min-height: 24px;
    max-height: 24px;
}

QComboBox QAbstractItemView::item:selected {
    background-color: #3a3e43;
    color: #D8DADD;
}

QDialog {
    background-color: #2b2e32;
    color: #d4d6d9;
    font-size: 14px;
}

QDialog QLabel {
    background-color: transparent;
    color: #d4d6d9;
    font-size: 14px;
}

QDialog QLabel#msgTitle {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
}

QDialog QPushButton {
    min-height: 26px;
    max-height: 26px;
    margin: 0px;
    color: #d4d6d9;
    background-color: #3e4246;
    border: none;
    border-radius: 8px;
    font-size: 14px;
}

QDialog QPushButton#leftBtn {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 0px;
}

QDialog QPushButton#rightBtn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0px;
}

QDialog QPushButton:default {
    border: 2px solid #4e5256;
}

QDialog QPushButton:hover {
    background-color: #4e5256;
}

QDialog QPushButton:pressed {
    background-color: #5e6266;
    border: 2px solid #5e6266;
}

QPushButton {
    min-height: 26px;
    max-height: 26px;
    color: #d4d6d9;
    background-color: #3e4246;
    border: none;
    border-radius: 6px;
    font-size: 14px
}

QPushButton:hover {
    background-color: #4e5256;
}

QPushButton:pressed {
    background-color: #5e6266;
}

QCheckBox {
    color: #d4d6d9;
    font-size: 14px;
    spacing: 8px;
    margin: 4px;
}

QCheckBox::indicator {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 1.5px solid #2e3238;
    background-color: #2b2e32;
}

QCheckBox::indicator:hover {
    border: 1.5px solid #3281ea;
}

QCheckBox::indicator:checked {
    background-color: #3281ea;
    border: 1.5px solid #3281ea;
    image: url(assets/icons/darkThemes/check.svg)
}

/* Everything that's only for tab one and two page one */
QLabel#page1NoFileMsg {
    color: #d4d6d9;
    font-size: 14px;
    padding: 4px;
}

/* Everything that's only for tab one page two */
#page2InnerBox {
    margin: 0px;
    border-bottom: 1px solid #484d52;
}

#page2InnerBox[isFirst="true"] {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#page2InnerBox[isLast="true"] {
    border-bottom: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#page2InnerBox:hover {
    background-color: #4e5256;
}

QLabel#entry {
    padding: 10px;
    font-size: 14px;
    font: bold;
    color: #d4d6d9;
}

QLabel#infoDescription {
    font-size: 12px;
    color: #d4d6d9;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

QRadioButton#categorySel {
    border: none;
    padding: 0px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Everything that's only for tab one page three and tab two page two*/
QGroupBox#page3Container {
    font-size: 14px;
    color: #33ff33;
    padding: 4px;
    background-color: #1a1d20;
}

QLabel#terminalText {
    font-size: 14px;
    color: #33ff33;
    padding: 4px;
}

/* Everything that's only for the settings window */
QLabel#settingsDescription {
    font-size: 12px;
    color: #d4d6d9;
}