/* The stylesheet for a blue dark mode theme*/

/* General stuff for all pages with these elements */
QMainWindow {
    background-color: #16191d;
}

QMenuBar {
    background-color: #1d2024;
    border-bottom: 1px solid #424242;
    color: #d8dadd;
}

QMenuBar::item {
    background-color: transparent;
    border-radius: 4px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 0px;
    margin-bottom: 2px;
}

QMenuBar::item:pressed {
    background-color: rgba(255, 255, 255, 0.08);
    color: #d8dadd
}

QMenu {
    background-color: #1d2024;
    padding: 4px;
    border-radius: 10px;
    color: #d8dadd;
}

QMenu QMenu {
    margin: 8px;
}

QMenu::item {
    background-color: #1d2024;
    padding: 4px;
    margin-top: 1px;
}

QMenu::item:selected {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
}

QMenu::separator {
    background-color: #3e4248;
    height: 1px;
}

QTabWidget {
    background-color: #16191d;
}

QTabWidget::pane {
    background-color: #1d2024;
    border: 1px solid #2e3238;
    border-radius: 6px;
    border-top-left-radius: 0px;
}

QTabBar::tab {
    background-color: #1d2024;
    color: #7a8088;
    padding: 6px 16px;
    border-bottom: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

QTabBar::tab:selected {
    background-color: #1d2024;
    color: #d8dadd;
    border: 1px solid #424242;
    border-bottom: 2px solid #3281ea;
}

QTabBar::tab:hover:!selected {
    background-color: #2f3337;
    color: #aab0b8;
    border-bottom-color: #1f2327;
}

QTabBar {
    background-color: #16191d;
}

QLabel#title {
    font-weight: bold;
    max-height: 20px;
    min-height: 20px;
    font-size: 14px;
    color: #d8dadd;
}

QScrollArea {
    background-color: #1d2024;
    border: 1px solid #424242;
    border-radius: 10px;
}

QScrollArea QWidget {
    background-color: transparent;
}

QScrollBar:vertical {
    border: none;
    background-color: #16191d;
    width: 8px;
    margin: 0px;
}

QScrollBar:vertical:hover {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

QScrollBar::handle:vertical {
    background-color: #3a3f45;
    min-height: 20px;
    border-radius: 4px;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0px;
}

QScrollBar::handle:vertical:hover {
    background-color: #5a5f65;
}

QScrollBar::handle:vertical:pressed {
    background-color: #7a7f85;
}

QGroupBox {
    background-color: #1d2024;
    border: 1px solid #424242;
    border-radius: 10px;
}

QRadioButton {
    padding: 8px;
    color: #c8cacd;
    font-size: 14px;
}

QRadioButton::indicator {
    width: 18px;
    height: 18px;
    border-radius: 10px; 
    border: 2px solid #666666; 
    background-color: transparent;
}

QRadioButton::indicator:unchecked:hover {
    border: 2px solid #3281ea;
}

QRadioButton::indicator:checked {
    border: 2px solid #3281ea; 
    background-color: qradialgradient(
        cx: 0.5, cy: 0.5, 
        fx: 0.5, fy: 0.5, 
        radius: 1.0, 
        stop: 0.2 #3281ea, 
        stop: 0.3 transparent
    );
}

QRadioButton::indicator:checked:hover {
    border-color: #468eed; 
    background-color: qradialgradient(
        cx: 0.5, cy: 0.5, 
        fx: 0.5, fy: 0.5, 
        radius: 1.0, 
        stop: 0.20 #468eed, 
        stop: 0.30 transparent
    );
}

QRadioButton:hover {
    color: #ffffff;
}

QLineEdit {
    background-color: #13161a;
    color: #d8dadd;
    border: 2px solid #13161a;
    border-radius: 10px;
    font-size: 14px;
    min-height: 24px;
    max-height: 24px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px
}

QLineEdit:hover {
    border: 2px solid #484e55;
}

QLineEdit:focus {
    border: 2px solid #468eed;
}

QComboBox {
    background-color: #1d2024;
    color: #d8dadd;
    border: 1.5px solid #1d2024;
    border-radius: 8px;
    padding: 0px;
    max-width: 200px;
    height: 24px;
    padding-left: 4px;
}

QComboBox:hover {
    border: 1.5px solid #3e4248;
}

QComboBox:on {
    border: 1.5px solid #468eed;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: right center;
    width: 24px;
    border: none;
}

QComboBox::down-arrow {
    image: url(assets/icons/darkThemes/arrowDown.svg);
    width: 12px;
    height: 12px;
}

QComboBox QAbstractItemView {
    background-color: #1d2024;
    color: #d8dadd;
    border: 1.5px solid #3e4248;
    border-radius: 8px;
    selection-background-color: #2e3238;
    selection-color: #d8dadd;
    outline: none;
    padding: 2px;
}

QComboBox QAbstractItemView::item {
    border-radius: 8px;
    min-height: 24px;
    max-height: 24px;
}

QComboBox QAbstractItemView::item:selected {
    background-color: #252a2e;
    color: #d8dadd;
}

QDialog {
    background-color: #16191d;
    color: #d8dadd;
    font-size: 14px;
}

QDialog QLabel {
    background-color: transparent;
    color: #d8dadd;
    font-size: 14px;
}

QDialog QLabel#msgTitle {
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
}

QDialog QPushButton {
    min-height: 26px;
    max-height: 26px;
    margin: 0px;
    color: #d8dadd;
    background-color: #292d32;
    border: none;
    border-radius: 8px;
    font-size: 14px;
}

QDialog QPushButton#leftBtn {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 0px;
}

QDialog QPushButton#rightBtn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0px;
}

QDialog QPushButton:default {
    border: 2px solid #393d42;
}

QDialog QPushButton:hover {
    background-color: #393d42;
}

QDialog QPushButton:pressed {
    background-color: #494d52;
    border: 2px solid #494d52
}

QPushButton {
    min-height: 26px;
    max-height: 26px;
    color: #d8dadd;
    background-color: #292d32;
    border: none;
    border-radius: 6px;
    font-size: 14px
}

QPushButton:hover {
    background-color: #393d42;
}

QPushButton:pressed {
    background-color: #494d52;
}

QCheckBox {
    color: #d8dadd;
    font-size: 14px;
    spacing: 8px;
    margin: 4px;
}

QCheckBox::indicator {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 1.5px solid #2e3238;
    background-color: #1d2024;
}

QCheckBox::indicator:hover {
    border: 1.5px solid #3281ea;
}

QCheckBox::indicator:checked {
    background-color: #3281ea;
    border: 1.5px solid #3281ea;
    image: url(assets/icons/darkThemes/check.svg)
}

/* Everything that's only for tab one and two page one */
QLabel#message {
    color: #d8dadd;
    font-size: 14px;
    padding: 4px;
}

QLabel#iconLabel {
    max-width: 22px;
    padding: 0px;
    padding-left: 6px;
}

/* Everything that's only for tab one page two */
#page2InnerBox {
    margin: 0px;
    border-bottom: 1px solid #424242;
}

#page2InnerBox[isFirst="true"] {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#page2InnerBox[isLast="true"] {
    border-bottom: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#page2InnerBox:hover {
    background-color: #2d3034;
}

QLabel#entry {
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 0px;
    font-size: 14px;
    font: bold;
    color: #d8dadd;
}

QLabel#infoDescription {
    font-size: 12px;
    color: #d8dadd;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

QRadioButton#categorySel {
    border: none;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Everything that's only for tab one page three and tab two page two*/
QGroupBox#page3Container {
    font-size: 14px;
    color: #33ff33;
    padding: 4px;
    background-color: #0f1113;
}

QLabel#terminalText {
    font-size: 14px;
    color: #33ff33;
    padding: 4px;
}

/* only for tab two page one*/
QPushButton#launchAppBtn {
    color: #d8dadd;
    background-color: #292d32;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    qproperty-icon: url(assets/icons/darkThemes/play.svg)
}

QPushButton#launchAppBtn:hover {
    background-color: #393d42;
}

QPushButton#launchAppBtn:pressed {
    background-color: #494d52;
}

QPushButton#configureAppBtn {
    color: #d8dadd;
    background-color: #292d32;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    qproperty-icon: url(assets/icons/darkThemes/settings.svg)
}

QPushButton#configureAppBtn:hover {
    background-color: #393d42;
}

QPushButton#configureAppBtn:pressed {
    background-color: #494d52;
}

QPushButton#deleteAppBtn {
    color: #d8dadd;
    background-color: #292d32;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    qproperty-icon: url(assets/icons/allThemes/trash.svg)
}

QPushButton#deleteAppBtn:hover {
    background-color: #393d42;
}

QPushButton#deleteAppBtn:pressed {
    background-color: #494d52;
}

QPushButton#configWindowBtn {
    padding: 2px;
}

QGroupBox#appTile {
    background-color: #1a1d21
}

QLabel#nameLabel {
    color: #d8dadd;
}

QLineEdit#appConfigInput {
    margin: 0px;
}

/* Everything that's only for the settings window */
QLabel#settingsDescription {
    font-size: 12px;
    color: #d8dadd;
}