/* The stylesheet for a light mode theme*/

/* General stuff for all pages with these elements */
QMainWindow {
    background-color: #f0f1f3;
}

QMenuBar {
    background-color: #e8eaed;
    border-bottom: 1px solid #cdd0d5;
    color: #1a1d21;
}

QMenuBar::item {
    background-color: transparent;
    border-radius: 4px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 0px;
    margin-bottom: 2px;
}

QMenuBar::item:pressed {
    background-color: #d8dadd;
    color: #1a1d21
}

QMenu {
    background-color: #e8eaed;
    padding: 4px;
    border-radius: 10px;
    color: #1a1d21;
}

QMenu QMenu {
    margin: 8px;
}

QMenu::item {
    background-color: #e8eaed;
    padding: 4px;
    margin-top: 1px;
}

QMenu::item:selected {
    background-color: #d8dadd;
    border-radius: 5px;
}

QMenu::separator {
    background-color: #cdd0d5;
    height: 1px;
}

QTabWidget {
    background-color: #f0f1f3;
}

QTabWidget::pane {
    background-color: #ffffff;
    border: 1px solid #cdd0d5;
    border-radius: 6px;
    border-top-left-radius: 0px;
}

QTabBar::tab {
    background-color: #f0f1f3;
    color: #7d8188;
    padding: 6px 16px;
    border: 1px solid transparent;
    border-bottom: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

QTabBar::tab:selected {
    background-color: #ffffff;
    color: #1a1d21;
    border-color: #cdd0d5;
    border-bottom: 2px solid #3281ea;
}

QTabBar::tab:hover:!selected {
    background-color: #d8dadd;
    color: #4a4e55;
    border-bottom-color: #e8eaed;
}

QTabBar {
    background-color: #f0f1f3;
}

QLabel#title {
    font-weight: bold;
    max-height: 20px;
    min-height: 20px;
    font-size: 14px;
    margin-left: 40px;
    margin-right: 40px;
    color: #1a1d21;
}

QScrollArea {
    background-color: #ffffff;
    border: 1px solid #cdd0d5;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px
}

QScrollArea QWidget {
    background-color: transparent;
}

QScrollBar:vertical {
    border: none;
    background-color: #f0f1f3;
    width: 8px;
    margin: 0px;
}

QScrollBar:vertical:hover {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

QScrollBar::handle:vertical {
    background-color: #b8bcc2;
    min-height: 20px;
    border-radius: 4px;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0px;
}

QScrollBar::handle:vertical:hover {
    background-color: #989ca2;
}

QScrollBar::handle:vertical:pressed {
    background-color: #787c82;
}

QGroupBox {
    background-color: #ffffff;
    border: 1px solid #cdd0d5;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px
}

QRadioButton {
    padding: 8px;
    color: #1a1d21;
    font-size: 14px;
    border-bottom: 1px solid #cdd0d5
}

QRadioButton[isFirst="true"] {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

QRadioButton[isLast="true"] {
    border-bottom: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

QRadioButton[isFirstScroll="true"] {
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

QRadioButton[isLastScroll="true"] {
    border-bottom: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
}

QRadioButton[isFirstAndLast="true"] {
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

QRadioButton::indicator {
    width: 18px;
    height: 18px;
    border-radius: 10px; 
    border: 2px solid #666666; 
    background-color: transparent;
}

QRadioButton::indicator:unchecked:hover {
    border: 2px solid #3281ea;
}

QRadioButton::indicator:checked {
    border: 2px solid #3281ea; 
    background-color: qradialgradient(
        cx: 0.5, cy: 0.5, 
        fx: 0.5, fy: 0.5, 
        radius: 1.0, 
        stop: 0.2 #3281ea, 
        stop: 0.3 transparent
    );
}

QRadioButton::indicator:checked:hover {
    border-color: #468eed; 
    background-color: qradialgradient(
        cx: 0.5, cy: 0.5, 
        fx: 0.5, fy: 0.5, 
        radius: 1.0, 
        stop: 0.20 #468eed, 
        stop: 0.30 transparent
    );
}

QRadioButton:hover {
    background-color: #e0e3e7;
}

QLineEdit {
    background-color: #edf0f5;
    color: #1a1d21;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    min-height: 24px;
    max-height: 24px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px
}

QLineEdit:hover {
    border: 2px solid #9da1a8;
}

QLineEdit:focus {
    border: 2px solid #468eed;
}

/* Currently not used*/
QComboBox {
    background-color: #373737;
    color: #1a1d21;
    border: 2px solid #373737;
    border-radius: 10px;
    font-size: 14px;
    padding: 4px;
    margin-right: 6px;
    margin-left: 10px;
    combobox-popup: 0;
}

QComboBox:hover {
    border: 2px solid #525252;
    font-size: 14px;
}

QComboBox:on {
    border: 2px solid #468eed;
}

QComboBox QAbstractItemView {
    background-color: #cdd0d5;
    padding: 4px;
    border-radius: 8px;
    outline: none;
}

QComboBox QAbstractItemView::item {
    background-color: transparent;
    padding: 4px;
    margin-top: 1px;
    color: #1a1d21;
}

QComboBox QAbstractItemView::item:selected {
    background-color: #525252;
    border-radius: 5px;
}

QDialog {
    background-color: #f0f1f3;
    color: #1a1d21;
    font-size: 14px;
}

QDialog QLabel {
    background-color: transparent;
    color: #1a1d21;
    font-size: 14px;
}

QDialog QLabel#msgTitle {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 6px;
}

QDialog QPushButton {
    min-height: 26px;
    max-height: 26px;
    margin: 3px;
    margin-top: 14px;
    color: #1a1d21;
    background-color: #e0e3e7;
    border: none;
    border-radius: 8px;
    font-size: 14px;
}

QDialog QPushButton#leftBtn {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 0px;
}

QDialog QPushButton#rightBtn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0px;
}

QDialog QPushButton:default {
    border: 2px solid #d0d3d7;
}

QDialog QPushButton:hover {
    background-color: #d0d3d7;
}

QDialog QPushButton:pressed {
    background-color: #c0c3c7;
    border: 2px solid #c0c3c7;
}

QPushButton {
    min-height: 26px;
    max-height: 26px;
    margin-left: 40px;
    margin-right: 40px;
    color: #1a1d21;
    background-color: #e0e3e7;
    border: none;
    border-radius: 6px;
    font-size: 14px
}

QPushButton:hover {
    background-color: #d0d3d7;
}

QPushButton:pressed {
    background-color: #c0c3c7;
}

/* Everything that's only for page one */
QLabel#page1NoFileMsg {
    color: #1a1d21;
    font-size: 14px;
    padding: 4px;
}

QCheckBox {
    color: #1a1d21;
    font-size: 14px;
    spacing: 8px;
    margin: 4px;
    margin-left: 40px;
    margin-right: 40px;
}

QCheckBox::indicator {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 1.5px solid #2e3238;
    background-color: #e8eaed;
}

QCheckBox::indicator:hover {
    border: 1.5px solid #3281ea;
}

QCheckBox::indicator:checked {
    background-color: #3281ea;
    border: 1.5px solid #3281ea;
    image: url(assets/icons/lightThemes/check.svg)
}

/* Everything that's only for page two */
#page2InnerBox {
    margin: 0px;
    border-bottom: 1px solid #cdd0d5;
}

#page2InnerBox[isFirst="true"] {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#page2InnerBox[isLast="true"] {
    border-bottom: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#page2InnerBox:hover {
    background-color: #e0e3e7;
}

QLabel#entry {
    padding: 10px;
    font-size: 14px;
    font: bold;
    color: #1a1d21;
}

QLabel#infoDescription {
    padding: 8px;
    font-size: 12px;
    color: #1a1d21;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
}

QRadioButton#categorySel {
    border: none;
    padding: 0px;
}

/* Everything that's only for page three */
QGroupBox#page3Container {
    font-size: 14px;
    color: #33ff33;
    padding: 4px;
    background-color: #ffffff;
}

QLabel#terminalText {
    font-size: 14px;
    color: #33ff33;
    padding: 4px;
}