[Desktop Entry]
Name=AppImage Installer
Exec=appimage-installer
Icon=${SNAP}/meta/gui/AppImage-Installer_Icon.svg
Type=Application
Categories=Utility;
Comment=Install and manage AppImages