[Desktop Entry]
Name=AppImage Installer
Exec=appimage-installer
Icon=${SNAP}/meta/gui/appimage-installer_icon.svg
Type=Application
Categories=Utility;
Comment=Install and manage AppImages